<div th:fragment="campers">
    <div class="border-header text-left mt-3 mb-2">
        <h3>Pending Requests</h3>
    </div>
    <div style="overflow: scroll; height: 300px">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col" th:if="${#request.userPrincipal.principal.getRole} == leader">Email</th>
                <th scope="col">Church</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="camper : ${pendingCampers}">
                <th scope="row" th:text="${counter.getCount}">#</th>
                <td th:text="${camper.getFirstName}">First</td>
                <td th:text="${camper.getLastName}">Last</td>
                <td th:text="${camper.getEmail}">Email</td>
                <td th:text="${camper.getChurch.getName}">Church</td>
                <td>
                    <div>
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-danger">Remove</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>