<div th:fragment="campers">
  <div class="border-header text-left mt-3 mb-2">
    <h3>Pending Requests</h3>
  </div>
  <div style="overflow-x: scroll;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col" th:if="${#request.userPrincipal.principal.getRole} == leader">Email</th>
          <th scope="col">Church</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="camper : ${pendingCampers}">
          <th:block th:if="${camper.isApproved == false}">
            <th scope="row" th:text="${counter.getCount1}">#</th>
            <td th:text="${camper.getFirstName}">First</td>
            <td th:text="${camper.getLastName}">Last</td>
            <td th:text="${camper.getEmail}">Email</td>
            <td th:text="${camper.getChurch.getName}">Church</td>
            <td>
              <div>
                <button class="btn btn-success" th:name="${camper.getEmail}" onclick="approvedClicked(this.name)">Approve</button>
                <button class="btn btn-danger" th:name="${camper.getEmail}" onclick="removeClicked(this.name)">Reject</button>
              </div>
            </td>
          </th:block>
        </tr>
      </tbody>
    </table>
  </div>
  <script th:inline="javascript">
  /*<![CDATA[*/
    function approvedClicked(email){
      var parameter = "?email=" + email;
      $.get("/dashboard-approve" + parameter).done(function(data){
      });
      const button = document.getElementsByName(email);
      button.disabled = true;
      setTimeout(function(){
        window.location.assign("/dashboard");
      }, 500);
    }
    function removeClicked(email){
      $.get("/dashboard-reject" + parameter).done(function(data){
      });
      setTimeout(function(){
        window.location.assign("/dashboard");
      }, 500);
    }
  /*]]>*/
  </script>
</div>