<div th:fragment="view" class="h-100">
  <div class="input-group mb-3">
    <input type="text" class="form-control form-control-sm" id="search" placeholder="Search...">
    <div class="input-group-append"><button onclick="loadData();" class="btn btn-custom-primary"><i class="text-white">Search</i></button></div>
  </div>
  <div style="overflow-x: scroll;">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Church</th>
            <th scope="col" th:if="${#request.userPrincipal.principal.getRole} == leader">Email</th>
          </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
  </div>
  <script th:inline="javascript">
  /*<![CDATA[*/
    $(document).ready(function(){
      loadData();
    });
    function elementFromHtml(html){
      const template = document.createElement("template");
      template.innerHTML = html.trim();
      return template.content.firstElementChild;
    }
    function loadData(){
      var keyword = $('#search').val();
      var parameter = '?keyword=' + keyword
      var isLeader = /*[[${#request.userPrincipal.getPrincipal.getRole}]]*/ '';
      $('#tbody').empty();
      $.get("/dashboard-search" + parameter, function(data){
        var template = '';
        var count = 1;
        data.forEach(x => {
          template =
            "<tr>" +
              "<th scope='row'>" + count + "</th>" +
              "<td>" + x['firstName'] + "</td>" +
              "<td>" + x['lastName'] + "</td>" +
              "<td>" + x['church']['name'] + "</td>" +
              (isLeader == 'leader' ? "<td>" + x['email'] : "") + "</td>" +
            "</tr>";
          count++;
          document.getElementById('tbody').appendChild(elementFromHtml(template));
        });
      });
    }
  /*]]>*/
  </script>
</div>