@font-face {
    font-family: cicleFont;
    src: url(../font/Cicle_Family/Cicle\ Fina.ttf);
}
@font-face {
    font-family: cabinSketchFont;
    src: url(../font/CabinSketch_Family/CabinSketch-Regular.ttf);
}
.font-cicle{
    font-family: cicleFont;
}
.font-cabin{
    font-family: cabinSketchFont;
}

body{
    font-family: cicleFont;
}

.customWidth{
    width:100%;
}

.smallShadow{
    box-shadow: 0.2rem 0.2rem 0.25rem rgba(0,0,0,0.175);
}

@media (max-width: 850px) {
    .customWidth{
        width:100%;
    }
}
.border-separator{
    border-right: 1px solid rgb(175, 175, 175);
    padding: 0;
    padding-right: 1%;
    margin-right: 1px;
}
@media (max-width:700px) {
    .border-separator{
        border-right: none;
        padding-right: 3px;
        padding: 0;
        margin-right: 1px;
    }
}

.apple{
    font-family: cicleFont;
    font-size: xx-large;
}
.border-header{
    border-bottom: 1px solid rgb(175, 175, 175);
    padding: 0;
    padding-bottom: 1%;
    margin-bottom: 1px;
}