@font-face {
    font-family: cicleFont;
    src: url(../font/Cicle_Family/Cicle\ Fina.ttf);
}
@font-face {
    font-family: cabinSketchFont;
    src: url(../font/CabinSketch_Family/CabinSketch-Regular.ttf);
}
.font-cicle{
    font-family: cicleFont;
}
.font-cabin{
    font-family: cabinSketchFont;
}

body{
    font-family: cicleFont;
}

.customWidth{
    width:75%;
}

.smallShadow{
    box-shadow: 0.2rem 0.2rem 0.25rem rgba(0,0,0,0.175);
}

.backgroundImage{
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: bottom;
    background-image: url('../img/Background.png'); 
    background-color: #f5f0f6;
}

.message{
    transform: translateY(50%);
}
.message h1{
    font-size: 400%;
}

@media (max-width: 770px) {
    .backgroundImage{
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: bottom;
        background-image: url('../img/Background.png'); 
        background-color: #f5f0f6;
    }
    .message{
        transform:translate(0%);
    }
}
@media (max-width: 900px) {
    .customWidth{
        width:100%;
    }
}