<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/app_index.css">
    <title>Details - Apple Division Mini-Camp!</title>
</head>
<body class="">
    <div th:replace="/views/components/navbar :: navbar"></div>
    <div class="mainBackground text-center" style="height: 500px; width: 100%">
        <div class="center ">
            <h5 class="apple">Mini camp</h5>
            <h1 class="mainHeading">Details</h1>
        </div>
    </div>
    <div class="secondBackground py-5" style="width:100%; height:auto;">
        <div class="row w-auto mx-5 info-box">
            <div class="col-12 col-md-6 bg-primary p-0 details-youth imgsizing">
                
            </div>
            <div class="col-12 col-md-6 text-center p-5" style="background-color: rgba(235, 235, 235, 0.356);">
                <h2>Apple Division Mini Camp</h2>
                <br>
                <p class="right-and-center">
                    We, the United Foursquare Youth of Apple Division in North Central Mindanao District is holding
                    our Mini-Camp this coming July 06-08, 2022 (Wednesday - Friday) with a theme "<b>Be Transformed</b>". There will be 2 nights and 2 days
                    of fellowship, fun, and praises to our Lord Jesus Christ!
                </p>
            </div>
        </div>
        <div class="row w-auto mx-5 info-box mt-5">
            <div class="col-12 col-md-6 text-center p-5" style="background-color: rgba(235, 235, 235, 0.356);">
                <h2>Venue</h2>
                <br>
                <p class="left-and-center">
                    The Pastors of Apple Division has selected Living Word Foursquare Gospel Church - New Bataan, Davao de Oro
                    as the venue for the up-coming mini camp.
                </p>
            </div>
            <div class="col-12 col-md-6 p-0 details-venue imgsizing">
            </div>
        </div>
        <div class="row w-auto mx-5 info-box mt-5">
            <div class="col-12 text-center p-5" style="background-color: rgba(235, 235, 235, 0.356);">
                <h2>Registration Information</h2>
                <br>
                <p class="text-center" style="font-size:150%;">
                    There will be a total of Php 300.00 for registration and meals, all meals are provided by the division. 
                    This website is for pre-registration purposes only, please be guided by your local presidents 
                    and all transactions must be made personal. You can register on this website and inform your local presidents
                    for the approval of your registration.
                </p>
            </div>
        </div>
    </div>
</body>
</html>