<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/app_index.css">
    <title>Welcome! - Apple Division Mini-Camp!</title>
</head>
<body class="">
    <div>
        <nav class="navbar navbar-expand-md bg-light navbar-light">
            <!-- Brand -->
            <a class="navbar-brand border-separator" th:href="@{/}">
                <div class="row">
                    <div class="col mr-0 pr-1 pt-1">
                        <img src="./img/ufy_logo.png" alt="Logo" style="width:50px">
                    </div>
                    <div class="col ml-0 pl-0 pt-1">
                        <div class="">
                            Apple
                        </div>
                        <div class="text-center" style="margin-top:-10px;">
                            Division
                        </div>
                    </div>
                </div>
            </a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item text-right">
                  <a class="nav-link" th:href="@{/details}">Details</a>
                </li>
                <li class="nav-item text-right">
                  <a class="nav-link" th:href="@{/events}">Events</a>
                </li>
                <li class="nav-item text-right">
                  <a class="nav-link" th:href="@{/about}">About us</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
    <div class="mainBackground text-center" style="height: 500px; width: 100%">
        <div class="center ">
            <h5 class="apple">Apple Division</h5>
            <h1 class="mainHeading">Mini Camp</h1>
        </div>
    </div>
    <div class="secondBackground" style="width:100%; height:100%;">
        <div class="">
            <img src="./img/grass.png" alt="grass" style="width:150px">
        </div>
        <div class="text-center ">
            <h1 class="font-cabin" style="font-size: 5em;">How to join?</h1>
            <div>
                <a th:href="@{/Login}">
                    <button class="btn btn-primary" th:href="@{/Login}">Sign in as camper</button>
                </a>
            </div>
            <div class="mt-1">
                <a th:href="@{/Login}">
                    <button class="btn btn-secondary">Sign in as leader</button>
                </a>
            </div>
            <p class="mt-3">
                If you are not registered yet, click <a th:href="@{/role}">here</a> to register! 
            </p>
            <div class="text-right">
                <img src="./img/grass.png" alt="grass" style="width:200px; transform: rotate(180deg); bottom:0%;">
            </div>
        </div>
    </div>
</body>
</html>